{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <h1>Paramètres</h1>


<div class="row col">
    <form>
        <div class="mb-3 col-lg-4 mx-auto">
            <label for="exampleInputEmail1" class="form-label">Nom</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-lg-4 mx-auto">
            <label for="exampleInputEmail1" class="form-label">Prénom</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-lg-4 mx-auto">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-lg-4 mx-auto">
            <label for="exampleInputEmail1" class="form-label">Téléphone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-lg-4 mx-auto">
            <label for="exampleInputEmail1" class="form-label">Mot de passe</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
